10,50 17 * * * cd ~/psg; /usr/local/bin/python kuangzanThread.py -e
30 17 * * * cd ~/psg; /usr/local/bin/python soukuangThread.py

11 0 * * * cd ~/psg; /usr/local/bin/python soukuangThread.py
10 2 * * * cd ~/psg; /usr/local/bin/python soukuangThread.py
2 4,12,23 * * * cd ~/psg; /usr/local/bin/python oneTimePerDay.py

16 2 * * * cd ~/psg; /usr/local/bin/python tongsang.py
17 * * * * cd ~/psg; sh restart_tax.sh
28 */2 * * * cd ~/psg; sh restart_touzi.sh
23 */4 * * * cd ~/psg; /usr/local/bin/python qiangzengThread.py -t 2
